[Desktop Entry]
Name=Shattered Pixel Dungeon
Comment=Traditional roguelike game with pixel-art graphics and simple interface
Exec=ShatteredPixelDungeon
Icon=icon_256
Type=Application
Categories=Game;AdventureGame;
StartupWMClass=ShatteredPixelDungeon
Terminal=false
